.card {
    text-align: center;
    border: grey solid 1px;
    padding: 3rem;
    padding-bottom: 4rem;
    width: 25rem;
    height: 30rem;
    display: inline-grid;
    margin: 4rem;
  }
  
  .card.mouseover {
    height: 35rem;
    width: 30rem;
  }

  .fragrance-avatar {
    justify-self: center;
    height: 15rem;
    width: auto;
  }

  .fragranceImage {

  }

  .fragranceName {
    padding-top: 2.7rem;
  }

  .fragranceBrand {
  }

  .fragranceNotes {
    padding-bottom: 1.5rem;
  }