body{
    background-color: floralwhite;
}

button {
    background-color: mistyrose;
}


#header-title {
    text-align: center;
    background-color: aquamarine;
    font-size: 2rem;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    border: gray solid 1px;
}

#fragrance-form {
    text-align: center;
    background-color: aqua;
    font-size: 1.6rem;
    padding-top: .03rem;
    padding-bottom: .7rem;
    border: gray solid 1px;
}

#submit-form-container {
    text-align: center;
    background-color: aquamarine;
    font-size: 1.6rem;
    margin-top: 2.2rem;
    margin-right: 30rem;
    margin-left: 30rem;
    padding-top: .5rem;
    padding-bottom: .7rem;
    border: gray solid 1px;
}

#add-to-collection-btn {
    margin-bottom: .3rem;
}

.fragrance-submit-form input {
    line-height: 3em;
    width:20rem;
  }

.card {
    background-color: snow;
    text-align: center;
    border: grey solid 1px;
    padding: 3rem;
    padding-bottom: 4rem;
    width: 25rem;
    height: 30rem;
    display: inline-grid;
    margin: 4rem;
  }
  
  .card.mouseover {
    height: 35rem;
    width: 30rem;
  }

  .fragrance-avatar {
    justify-self: center;
    height: 15rem;
    width: auto;
  }


  .fragranceName {
    padding-top: 2.7rem;
  }

  .fragranceNotes {
    padding-bottom: 1.5rem;
  }

